:root {
    --heading-font: 'Roboto Slab', serif;
    --primary-color: #fd6038;
    --light-yellow-color: #f8ebc9;
    --yellow-color: #fed464;
    --green-color: #017848;
    --black-color: #0e1412;
    --white-color: #fff;
    --light-green-color: #beccc7;
}

.drawer-open,
.nav-wrapper .logo,
.drawer-close {
    display: none;
}

/*! XL applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .about__decor {
        right: 4%;
    }

    .features__img {
        width: 500px;
        height: 500px;
    }
}

/*! LG applies to large devices (desktops, less than 1400px) */
@media (max-width: 1199.98px) {
    .hero {
        margin-top: 30px;
        padding: 65px 0 100px 0;
    }

    .hero__heading {
        max-width: 450px;
        font-size: 4.6rem;
    }

    .hero__desc {
        max-width: 450px;
        font-size: 1.6rem;
    }

    .hero-btn {
        font-size: 1.6rem;
    }

    .hero__decor-groups {
        width: 90%;
        margin-left: auto;
    }

    /* About */
    .about__img {
        width: 450px;
        height: 450px;
    }

    .about__decor {
        width: 17.5%;
        right: 5%;
        bottom: 21%;
    }

    /* About */
    .about__heading {
        font-size: 3.6rem;
    }

    .about__desc,
    .about__stat-label {
        font-size: 1.6rem;
    }

    .about__number {
        font-size: 2.2rem;
    }

    .about__btn {
        margin-top: 30px;
        min-width: 150px;
        line-height: 50px;
    }

    /* Services */
    .services {
        margin-top: 100px;
    }

    .services__block {
        margin-top: 70px;
    }

    .services__btn {
        min-width: 300px;
        font-size: 2rem;
        line-height: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .services__btn-view-all {
        min-width: 230px;
        font-size: 2rem;
    }

    /* Features */
    .features__info {
        margin-left: 81px;
    }

    .features__group:last-of-type .features__info {
        margin-right: 80px;
    }

    .features__decor-first {
        width: 78px;
    }

    .features__decor-third {
        width: 100px;
        left: -26px;
    }

    /* Team */
    .team {
        margin-top: 100px;
    }

    .team__block {
        margin-top: 70px;
    }
}

/*! MD applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .header__body {
        padding: 32px 0;
    }

    /* Menu overlay */
    .nav-wrapper {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 70%;
        background: var(--light-yellow-color);

        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .drawer-overlay {
        display: block;
        position: fixed;
        z-index: 2;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);

        opacity: 0;
        visibility: hidden;
        transition: opacity ease, visibility ease;
        transition-duration: 0.5s;
    }

    #drawer:checked ~ .nav-wrapper {
        transform: translateX(0);
    }

    #drawer:checked ~ .drawer-overlay {
        opacity: 1;
        visibility: visible;
    }

    .nav-wrapper .logo {
        margin-top: 15px;
        display: flex;
        gap: 6px;
        padding: 40px 30px;
    }

    .logo__icon {
        width: 40px;
        height: 40px;
    }

    .logo__title {
        gap: 4.5px;
    }

    .logo__title span:first-of-type {
        font-size: 2.6rem;
    }

    .logo__title span:last-of-type {
        font-size: 1.6rem;
    }

    .drawer-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 30px;

        opacity: 0.6;
        font-size: 2.5rem;
        color: var(--white);
    }

    .navbar {
        display: block;
        width: 100%;
        height: 100vh;
    }

    .navbar__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    .navbar__item {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .navbar__item-active {
        font-weight: normal;
        color: inherit;
    }

    .navbar__item-active .navbar__link::after {
        background-image: url('../icons/chevron-down.svg');
    }

    .navbar__link::after {
        right: -20px;
        width: 12px;
        height: 8px;
    }

    .logo {
        display: none;
    }

    .drawer-open {
        display: block;
    }

    .drawer-open i {
        font-size: 3rem;
    }

    .hero {
        margin-top: 20px;
        padding: 40px 0 60px 0;
    }

    .hero__media {
        margin-top: 120px;
    }

    .hero__heading {
        font-size: 4rem;
    }

    .hero-btn {
        line-height: 56px;
        padding: 0 22px;
    }

    .hero__decor-groups {
        max-width: initial;
        width: 85%;
        margin-left: auto;
    }

    .hero__media-groups {
        width: 30%;
        top: -12.5%;
        left: -15%;
    }

    .hero__play-img {
        padding: 10px;
    }

    /* About */
    .about__img {
        width: 100%;
        height: 100%;
    }

    .about__decor {
        display: none;
    }

    .about__info {
        margin-top: 50px;
    }

    .about__heading {
        margin-top: 10px;
        font-size: 4.6rem;
    }

    .about__desc {
        margin-top: 22px;
        font-size: 1.8rem;
    }

    .about__number {
        font-size: 2.4rem;
    }

    .about__stat-label {
        font-size: 1.8rem;
    }

    .about__btn {
        margin-top: 40px;
    }

    /* Services */
    .services__btn {
        min-width: 280px;
        line-height: 60px;
        font-size: 2rem;
    }

    .services__desc {
        margin: 18px 0 40px;
    }

    /* Features */
    .features {
        margin-top: 100px;
    }

    .features__info {
        margin-left: 0;
    }

    .features__group:nth-child(1) .row {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .features__heading {
        margin-top: 10px;
        font-size: 4rem;
    }

    .features__desc {
        margin-top: 22px;
    }

    .features__img {
        width: 90%;
        height: 90%;
    }

    .features__decor-first {
        width: 100px;
    }

    .features__group:last-of-type {
        margin-top: 100px;
    }

    .features__group:last-of-type .features__info {
        margin-right: 0;
    }

    .features__group:last-of-type .features__media {
        margin-top: 50px;
    }

    .features__decor-third {
        width: 120px;
        left: 0;
    }

    /* Team */
    .team__desc {
        margin: 18px 0 40px;
    }
}

/*! SM applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .header {
        padding: 20px;
    }

    .drawer-close {
        font-size: 2.2rem;
    }

    .navbar__list {
        gap: 5px;
    }

    .navbar__item {
        font-size: 1.8rem;
    }

    .hero {
        margin-top: 0;
    }

    .drawer-open i {
        font-size: 3rem;
    }

    .phone__number {
        font-size: 2rem;
    }

    .hero__label {
        font-size: 1.8rem;
    }

    .hero__heading {
        font-size: 3.5rem;
    }

    .hero__play-img {
        padding: 8px;
    }

    /* About */
    .about {
        padding: 80px 0;
    }

    .about__img {
        display: none;
    }

    .about__info {
        margin-top: 0;
    }

    .about__heading {
        margin-top: 15px;
        font-size: 3.8rem;
    }

    .about__desc {
        margin-top: 25px;
        font-size: 1.6rem;
    }

    .about__number {
        font-size: 2.2rem;
    }

    .about__stat-label {
        font-size: 1.6rem;
    }

    .about__btn {
        font-size: 1.6rem;
    }

    /* Services */
    .services {
        margin-top: 80px;
    }

    .services__heading {
        margin-top: 15px;
        font-size: 3.8rem;
    }

    .services__block {
        margin-top: 60px;
    }

    .services__btn {
        min-width: 330px;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 72px;
    }

    .services__heading {
        font-size: 3.8rem;
    }

    .services__desc {
        font-size: 1.6rem;
    }

    .services__btn {
        min-width: 400px;
        font-size: 1.6rem;
        line-height: 65px;
    }

    .services__btn-view-all {
        min-width: 300px;
        font-size: 1.6rem;
    }

    /* Features */
    .features,
    .features__group + .features__group {
        margin-top: 80px;
    }

    .features__heading {
        font-size: 3.6rem;
    }

    .features__desc {
        font-size: 1.6rem;
    }

    .features__item {
        font-size: 1.6rem;
    }

    .features__decor-first {
        width: 80px;
    }

    .features__decor-second,
    .features__decor-fourth {
        width: 15px;
    }

    .features__btn {
        min-width: 120px;
        padding: 0 25px;
        font-size: 1.6rem;
    }

    /* Team */
    .team {
        margin-top: 80px;
    }

    .team__heading {
        margin-top: 15px;
        font-size: 3.8rem;
    }

    .team__desc {
        font-size: 1.6rem;
    }

    .team__block {
        margin-top: 60px;
    }

    .team__btn {
        font-size: 1.6rem;
    }

    .team__name {
        font-size: 2rem;
    }
}

/*! XS applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero__media-groups {
        width: 26%;
        top: -13%;
        left: 0;
    }

    .hero__decor-groups {
        width: 100%;
    }

    .hero__play-img {
        padding: 6px;
    }

    .about {
        padding: 30px 20px;
    }

    .about__heading {
        font-size: 3.5rem;
    }

    .services {
        margin-top: 50px;
        padding: 0 20px;
    }

    .services__block {
        margin-top: 30px;
    }

    .services__btn-wrap {
        margin-top: 40px;
    }

    .features {
        padding: 0 20px;
    }

    /* Team */
    .team {
        margin-top: 50px;
        padding: 0 20px;
    }

    .team__block {
        margin-top: 30px;
    }

    .team__btn-wrap {
        margin-top: 40px;
    }
}
